<?php
$clubname = 'United Hockey Club';
$sqlserver = 'localhost';
$sqlusername = 'username';
$sqlpassword = 'password';
$sqldatabse = 'Hockey' . date("Y");
$tmpdirectory = "/var/www/html/hockey/tmp/"
?>
